/* Mobile Layout: 480px and below. */
html{
	position: relative;
}

body{
	width: 100%;
	position: relative;
	text-align: center;
	font-family: 'Lato',sans-serif;
	font-size: 10pt;
	font-weight: 400;
}
.content{
	width: 90%;
	margin: 0 auto;
	padding: 40px 0;
	opacity: 0.8;
}
.header{
	background: #efcd67;
}
.header .brand{
	font-size: 2.2em;
	text-transform: uppercase;
}
.header .brand h1{
	position: relative;
	display: block;
	letter-spacing: 0.7em;
	left: 0.35em;
	top: -25px;	
}
.header .pitch h1{
	font-size: 2em;
	font-weight: 700;
	padding: 20px;
}
.header .subtitle{
	font-size: 1.4em;
	line-height: 1.3em;
	margin: 0 auto;
}
.header .subtitle span{
	cursor: pointer;
	position: relative;
	font-weight: 700;
	border-bottom: 2px dotted #000;
}
.popup{
	position: relative;
}
.popup:before{
	display: none;
	vertical-align: middle;
	content: attr(data-hover);
	position: absolute;
	bottom: 32px;
	left: 50%;
	margin-left: -50px;
	background: #FFF;
	font-size: 0.8em;
	line-height: normal;
	height: 100px;
	padding: 25px 10px;
	box-sizing:border-box;
	width: 100px;
	border-radius: 50%;
}
.popup:after{
	display: none;
	width: 20px;
	content: "";
	height: 20px;
	background: #FFF;
	position: absolute;
	bottom: 25px;
	left: 50%;
	margin-left: -10px;
	-webkit-transform: rotate(45deg);
	transform:rotate(45deg);
}
.popup:hover:before,
.popup:hover:after{
	display: block;
}

.team{
	background: #3d6da9;
	color: #FFF;
}
.headline{
		position: relative;
		font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing:.15em;
}
.description{
	padding: 40px;
	font-weight: 400;
	font-size: 1.2em;
}
.members{
	font-size: 0;
}
.members li{
	display: inline-block;
	vertical-align: top;
	
	width: 50%;
	font-size: 10pt;
	margin: 20px 0;
	box-sizing:border-box;
	padding: 0 5px;
}
.members li .avatar{
	width: 120px;
	height: 120px;
	border: 5px solid #FFF;
	border-radius: 50%;
}
.members li .bio{
	font-size: 1.2em;

}
.members li .tag{
	border-top: 2px solid #efcd67;
	padding: 10px;
	margin: 10px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 0.9em;
	color: #fff;
}
.members .name{
	text-decoration: line-through;
	background: rgba(0,0,0,0.3);
	display: inline-block;
	border-radius: 4px;
	margin-top: 10px;
	padding: 5px;
	opacity: 0.3;
}

.skills{
	background: #d84646;
	color:#FFF;
}
.skills ul{font-size: 0}
.skills ul li{
	font-size: 12pt;
	display: inline-block;
	width: 33%;
	background: #FFF;
	box-sizing:border-box;
	margin: 10px;
	padding: 8px 10px;
	border-radius: 2px;
	font-weight: 700;
	background: rgba(255,255,255,0.9);
	color: #d84646;
}

/* Tablet Layout: 480px to a max of 768px*/
@media only screen and (min-width: 480px) {

}
/* Desktop Layout: 769px and above */
@media only screen and (min-width: 769px) {

}